.acme-navbar-text{
  color: white;
}

.navbar-inverse.zpa-navbar{
  background-color: #e6e6e6;
  border-color: transparent;
}

.zpa-navbar .navbar-image{
  opacity: 0.5;
  height:35px;
  width:auto;
}
