<div class="modal-header">
      <h3 class="modal-title">Add a new item</h3>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
            <p class="form-text-bold"> New item name </p>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control newCategoryField" ng-model="mic.newCategoryName"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
            <p class="form-text-bold"> Tags </p>
        </div>
        <div class="col-md-8">
          <tags-input ng-model="tags"></tags-input>
        </div>
      </div>

      <div class="row">

      </div>

  </div>
  <div class="modal-footer">
      <user-messaging></user-messaging>
        <button class="btn btn-primary" type="button" ng-click="mic.ok()">Finished</button>
        <button class="btn btn-default addCategoryImageBtn" ng-click="mic.saveAndAddAnotherItem()" title="Add a new item">
          <img src="assets/images/add.png" class="addImage addCategoryImage" alt="add"> Save & add another item
        </button>
        <button class="btn btn-primary" type="button" ng-click="mic.saveItem()">Save</button>

  </div>
