<table st-table="rowCollection" class="table table-striped">
  <thead>
  <tr>
    <th>Connector</th>
    <th>Form</th>
    <th>Status</th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="connector in ctc.connectors" st-select-row="row" st-select-mode="multiple">
    <td>{{connector}}</td>
    <td>
      <select ng-model="formId" ng-options="formId for formId in ctc.formIds"></select>
    </td>
    <td>
      <select ng-model="status" ng-options="status for status in ctc.statuses"></select>
    </td>
    <td>
      <button class="btn btn-danger btn-xs"><img src="assets/images/delete.png" class="deleteImage" alt="delete"></button>
    </td>
  </tr>
  </tbody>
</table>